/*
    1. Screen Home
      - Header
      - Quick menu
    2. Screen survey 1
    3. Screen survey 2
    4. Screen section 3
    5. Screen section 4
    6. Screen section 5
    7. Screen section 6
    8. Screen section 7
    9. Screen section 8
    10. Screen section 9
    11. Screen brand
    12. Screen cta
    13. Screen footer
 */

@font-face {
    font-family: Suite;
    src: url("font/suitepersonaluse.ttf");
}
body {
    background-color: aliceblue;
    width: 100%;
    padding: 0;
    margin: 0;

}
/**_____________________________________Screen Home _________________________________________________*/

.screen-hero {
    background: url("image/background_home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 1056px;
    position: relative;
}
.content-hero {
    text-align: center;
    margin-top: 106px;
}
.title-hero {
    color: #333333;
    font-size: 80px;
    font-weight: 900;
    margin: 0;
    font-family: Suite;
    letter-spacing: -0.02em;
    line-height: 120%;
}
.title-hero2 {
    background: linear-gradient(to right, #EB15FE, #FA3158);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-content-hero {
    margin-top: 19px;
    margin-bottom: 29px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #404040;
}
.btn-free-7-day {
    width: 241px;
    height: 59px;
    background: #FA3158;
    border-radius: 8px;
    font-family: pretendart;
    border: none;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.img-home {
    border: 5px solid #000;
    border-radius: 20px;
    width: 100%;
}
.box-img-home {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 1000px/2 - 1px);
    max-width: 1000px;
}

/*__________________Header______________________ */

.container-header {
    background: white;
    height: 72px;
    display: flex;
    font-family: Suite;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 33px 0 31px;
    align-items: center;
}
.img-logo {
    width: 132px;
    height: 28px;
}
.header-option {
    display: flex;
    flex-direction: row;
    max-width: 506px;
    width: 100%;
    justify-content: space-between;
}
.text-option {
    color: #333333;
    font-size: 16px;
    font-family: pretendard;
    font-weight: 600;
}
.text-header-end {
    color: #333333;
    font-size: 16px;
    line-height: 19px;
    font-family: pretendard;
    font-weight: 500;
    opacity: 0.7;
}
.header-end {
    display: flex;
    width: 100%;
    max-width: 255px;
    justify-content: space-between;
}
.btn-try-free {
    height: 40px;
    width: 108px;
    background-color: #FA3158;
    border: 1px solid #FA3158;
    border-radius: 4px;
    color: white;
    font-family: pretendard;
    font-weight: bold;
    font-size: 14px;
    align-self: center;
}

/*___________________Menu____________________________*/

.menu {
    width: 84px;
    height: 368px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.972549);
    bottom: 198px;
    border: 1px solid #EAEAEA;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
    border-radius: 16px 0px 0px 16px;
}
.text-menu-top {
    color: #1E85FF;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-family: 'pretendard';
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 84px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 84px;
}
.text-meunu-home {
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #666666;
    margin: 10px 0 0 0 ;
}
.connect-network {
    display: flex;
    height: 28px;
    width: 84px;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    right: 0;
}
.img-menu-home {
    height: 12px;
    width: 14px;
}

/*______________________________________Quick-menu__________________________________________________*/

.quick-menu {
    background-color: #1E85FF;
    height: 147px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.option-quick-menu {
    width: 294px;
    border-left: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px;
    border-color: white;
}
.img-quick-menu {
    height: 46px;
    width: 52px;
}
.title-quick-menu {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
/**_____________________________________Screen survey 1 _________________________________________________*/
.screen-survey1 {
    height: 970px;
    background: white;
}
.text-question-survey1 {
    font-family: 'SUITE';
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
}
.text-answer-survey1 {
    height: 258px;
    font-family: 'SUITE';
    font-weight: 800;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #333333;
}
.text-answer-survey2 {
    background: linear-gradient(to right, #EB15FE, #FA3158);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-survey1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 970px;
    align-items: center;
}
.box-survey {
    margin-right: 75px;
}
.content-reason {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    margin: 12px 0 0 0;
    width: 100%;
    max-width: 476px;
    display: flex;
    align-items: center;
    letter-spacing: -1.5px;
    color: #000000;
}
.container-information {
    display: flex;
    flex-direction: row;
    width: 648px;
    height: 189px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;
}
.box-information {
    display: flex;
    flex-direction: column;
}
.content-information {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.img-avt-user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
}
.btn-information {
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    border: none;
    height: 34px;
    align-items: center;
    background: #FA3158;
    border-radius: 100px;
    font-family: 'pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;

}
.username {
    font-family: 'pretendard';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #1A191E;
    margin: 0 8px 0 12px;
}
.nameschool {
    font-family: 'pretendard';
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    line-height: 150%;
    color: rgba(26, 25, 30, 0.5);
}

/**_____________________________________Screen survey 2 _________________________________________________*/
.screen-survey2 {
    background-color: #FF728D;
    height: 1194px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-question-survey2 {
    font-family: 'SUITE';
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
}
.container-survey2 {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
}
.content-survey2 {
    font-family: 'pretendard';
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    margin: 24px 0;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.75;
}
.content-survey3 {
    font-family: 'SUITE';
    font-weight: 800;
    font-size: 80px;
    line-height: 140%;
    margin: 100px 0 0 0;
    color: #FFFFFF;
}
.btn-content-survey2 {
    margin-right: 20px;
    opacity: 1;
    border: 10px solid white;
    background-color: #FF728D;
}
.box-answer-management {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*_______________________Screen section 03 ________________________*/
.section-03 {
    background:  linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    height: 1467px;
    flex-direction: column;
    align-items: center;
}
.title-section03 {
    font-family: 'SUITE';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    margin: 160px 0 0 0;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #333333;
}
.color-gradient {
    background: linear-gradient(95.44deg, #EB15FE 0%, #FA3158 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-note {
    font-family: 'pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin: 50px 0 0 0 ;
    letter-spacing: -0.02em;
    color: #404040;
}
.container-content-section03 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.box_item1 {
    width: 620px;
    height: 733px;
    position: relative;
    background: #FFFFFF;
    border-radius: 16px;
    margin-right: 40px;
}
.box_item2 {
    width: 620px;
    height: 350.5px;
    background: #FFFFFF;
    position: relative;
    border-radius: 16px;
}
.circle-item1 {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 40.5px;
    top: -56px;
    background: #E16D3B;
    border-radius: 200px;
}
.circle-item2 {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 40px;
    top: -64.5px;
    background: #FFCF4E;
    border-radius: 200px;
}
.img_circle-item1 {
    position: absolute;
    width: 22px;
    height: 36px;
    left: calc(50% - 22px/2 + 0.5px);
    top: calc(50% - 36px/2);
}
.img_circle-item2 {
    position: absolute;
    width: 41px;
    height: 20.32px;
    left: calc(50% - 41px/2 + 0.5px);
    top: calc(50% - 20.32px/2 + 0.16px);
}
.img_circle-item3 {
    position: absolute;
    width: 35px;
    height: 26.98px;
    left: calc(50% - 35px/2 + 0.5px);
    top: calc(50% - 26.98px/2 + 0.49px);
}
.title-item1 {
    font-family: 'SUITE';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.5px;
    color: #333333;
    margin: 126px 0 0 47px;
}
.content-item1 {
    font-family: 'Pretendard';
    font-style: normal;
    margin: 14px 0 0 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1px;
    color: #404040;
}
.img_item1 {
    width: 480px;
    height: 288px;
}
.box-img-item1 {
    position: absolute;
    left: -71px;
    top: 381px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
.content-item2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1px;
    color: #404040;
    margin-left: 47px;
    margin-top: 14px;
}
.title-item2 {
    font-family: 'SUITE';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin: 0 0 0 47px;
    line-height: 120%;
    letter-spacing: -2.5px;
    color: #333333;
    padding-top: 126px;
}
.img_item2 {
    position: absolute;
    width: 249px;
    height: 245px;
    left: 442px;
    top: -40px;
    background: url('image/section03/jobs.png');
    filter: drop-shadow(50px 50px 100px rgba(0, 0, 0, 0.2));
    border-radius: 24px;
}
/*_______________________Screen section 04 ________________________*/

/*_______________________Screen section 05 ________________________*/


/*_______________________Screen section 06 ________________________*/


/*_______________________Screen section 07 ________________________*/


/*_______________________Screen section 08 ________________________*/


/*_______________________Screen section 09 ________________________*/


/*_______________________Screen brand ________________________*/


/*_______________________Screen Cta ________________________*/

.screen-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 308px;
    align-items: center;
    background: linear-gradient(271.03deg, #1E85FF 0%, #57A4FF 100%);
}
.text-waring {
    font-family: 'SUITE';
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.btn-cta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 35px;
    gap: 10px;
    width: 229px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 8px;
}
.text-btn {
    font-family: 'pretendard';
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #57A4FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*_______________________Screen footer ________________________*/
.screen-footer {
    background: #333333;
    height: 349px;
    display: flex;
    justify-content: center;
}
.container-footer {
    max-width: 1290px;
    width: 100%;
    height: 139px;
    margin-top: 60px;
    display: flex;
    background: white;
    align-items: center;
}