@font-face {
    font-family: Suite;
    src: url("font/suitepersonaluse.ttf");
}
body {
    background-color: aliceblue;
    width: 100%;
    padding: 0;
    margin: 0;

}
/**_____________________________________Screen Home _________________________________________________*/

.screen-hero {
    background: url("image/background_home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 1056px;
    position: relative;
}
.content-hero {
    text-align: center;
    margin-top: 106px;
}
.title-hero {
    color: #333333;
    font-size: 80px;
    font-weight: 900;
    margin: 0;
    font-family: Suite;
    letter-spacing: -0.02em;
    line-height: 120%;
}
.title-hero2 {
    background: linear-gradient(to right, #EB15FE, #FA3158);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-content-hero {
    margin-top: 19px;
    margin-bottom: 29px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #404040;
}
.btn-free-7-day {
    width: 241px;
    height: 59px;
    background: #FA3158;
    border-radius: 8px;
    font-family: pretendart;
    border: none;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.img-home {
    border: 5px solid #000;
    border-radius: 20px;
}
.box-img-home {
    left: 25%;
    right: 25%;
    display: flex;
    margin-top: 73px;
}
/*__________________Header______________________ */
.container-header {
    background: white;
    height: 72px;
    display: flex;
    font-family: Suite;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 33px 0 31px;
    align-items: center;
}
.img-logo {
    width: 132px;
    height: 28px;
}
.header-option {
    display: flex;
    flex-direction: row;
    max-width: 506px;
    width: 100%;
    justify-content: space-between;
}
.text-option {
    color: #333333;
    font-size: 16px;
    font-family: pretendard;
    font-weight: 600;
}
.text-header-end {
    color: #333333;
    font-size: 16px;
    line-height: 19px;
    font-family: pretendard;
    font-weight: 500;
    opacity: 0.7;
}
.header-end {
    display: flex;
    width: 100%;
    max-width: 255px;
    justify-content: space-between;
}
.btn-try-free {
    height: 40px;
    width: 108px;
    background-color: #FA3158;
    border: 1px solid #FA3158;
    border-radius: 4px;
    color: white;
    font-family: pretendard;
    font-weight: bold;
    font-size: 14px;
    align-self: center;
}
/*__________________End Header______________________ */
/*___________________Menu____________________________*/
.menu {
    width: 84px;
    height: 368px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.972549);
    bottom: 198px;
    border: 1px solid #EAEAEA;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
    border-radius: 16px 0px 0px 16px;
}
.text-menu-top {
    color: #1E85FF;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-family: 'pretendard';
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 84px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*_______________End Menu____________________________*/
/**_________________________________End Screen Home _________________________________________________*/

/*______________________________________quick-menu__________________________________________________*/
.quick-menu {
    background-color: #1E85FF;
    height: 147px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.option-quick-menu {
    width: 294px;
    border-left: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px;
    border-color: white;
}
.img-quick-menu {
    height: 46px;
    width: 52px;
}
.title-quick-menu {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
/*__________________________________End quick-menu__________________________________________________*/

/**_____________________________________Screen two _________________________________________________*/
.screen-two {
    background: red;
}
/**_________________________________End Screen two _________________________________________________*/